@font-face {
  font-family: LibreBaskerville;
  src: url("../asset/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

.container {
  display: flex;
}

.info {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.storyTitle {
  font-family: LibreBaskerville;
}

.credit {
  font-family: LibreBaskerville;
  color: #a18276;
  font-size: smaller;
}

.storyInfo {
  font-family: LibreBaskerville;
  background-color: #A18276;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  padding: 10px;
  border-radius: 50px;
}
